.tiny-label {
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: auto;
  letter-spacing: .075em;
  text-rendering: optimizeLegibility;
  font-weight: 600;
}
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}
.tuning {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.background-cover {
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* 
TABLE OF CONTENTS
  
  HTML & Resets
  Animations
  Grid & Structure
  Navigation
  Content Styles 
  Post Styles
  Form Elements
  Footer
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
::selection {
  background: #5f93ae;
}
::-moz-selection {
  background: #5f93ae;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 60%;
  padding-left: 1px;
}
article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}
body {
  background: #222222;
  color: #151515;
  min-width: 740px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 740px) {
  body {
    min-width: 0;
    max-width: 740px;
  }
}
body,
input,
textarea,
select,
button {
  font-family: 'adelle-sans', 'Helvetica Neue', Arial, sans-serif;
}
a,
a:visited {
  color: #5f93ae;
  text-decoration: none;
}
a:hover,
:focus,
li:hover,
img:hover,
input:hover {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
p {
  margin: 15px 0 -15px;
  line-height: 150%;
  text-indent: 1.5em;
}
p.flush {
  text-indent: 0;
}
hr {
  display: block;
  height: 1px;
  background: #555555;
  color: #555555;
  border: 0;
}
img,
object,
embed {
  max-width: 100% !important;
}
img {
  height: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'adelle-sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-opacity: 1;
  }
}
@keyframes fill {
  from {
    background-position: 0 -100%;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes fill {
  from {
    background-position: 0 -100%;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes logoUp {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
}
.container {
  margin-bottom: 400px;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.logo {
  width: 31px;
  height: 48px;
  -webkit-mask: url(../img/code-fork.svg) no-repeat 50% 50%;
  mask: url(../img/code-fork.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #ffffff 50%, #666666 50%);
  animation: fill 2.6s 1s, fadeIn 2.5s;
  -webkit-animation: fill 2.6s 1s, fadeIn 2.5s;
  position: absolute;
  z-index: 5;
}
@-moz-document url-prefix() {
  .logo {
    height: 50px;
    background-image: url(../img/code-fork.svg);
    animation: none;
    background-repeat: no-repeat;
    background-size: 100%;
    mask: none;
    -webkit-mask: none;
  }
}
.row {
  max-width: 740px;
  clear: both;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}
a.btn {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: auto;
  letter-spacing: .075em;
  text-rendering: optimizeLegibility;
  font-weight: 600;
  margin: 0 auto;
  border: 2px solid #5c5c5c;
  text-align: center;
  padding: 13px 0;
  width: 260px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: inherit;
}
a.btn:hover,
a.btn:active {
  color: #fff;
  border-color: #b2b2b2;
  background-image: none;
}
header {
  padding: 1px 1px 10%;
  color: #dde1e5;
  font-weight: 100;
  background: #222222;
}
@media screen and (max-width: 600px) {
  header {
    padding: 30px 0;
  }
}
header .btn {
  margin-top: 70px;
  animation: fadeIn ease-in 1.5s forwards;
  -webkit-animation: fadeIn ease-in 1.5s forwards;
}
header sup a:hover,
header sup a:active {
  border: none;
}
header a,
header a:visited {
  color: #5f93ae;
  border-bottom: 1px solid transparent;
}
header a:hover,
header a:visited:hover,
header a:active,
header a:visited:active {
  color: #fff;
  border-color: #999;
}
header .expand {
  cursor: pointer;
}
header .more {
  padding-bottom: 20px;
}
header .more.row {
  max-width: 1280px;
}
header .intro {
  margin-top: 14%;
}
header .intro h1 {
  font-size: 41px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  margin-bottom: 25px;
  font-weight: 300;
}
@media screen and (max-width: 1157px) {
  header .intro h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 600px) {
  header .intro h1 {
    font-size: 28px;
  }
}
header .intro h1 sup {
  top: -1em;
  font-size: 35%;
  font-weight: 400;
}
header .intro .exp {
  color: #bebebe;
}
header .intro h3 {
  margin-top: 40px;
  margin-bottom: -7px;
}
header .intro blockquote {
  font-size: 1.8em;
  margin: 45px 0;
  text-align: justify;
  text-align: center;
}
header p {
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.35;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  header p {
    font-size: 17px;
  }
}
header p sup a {
  border: none;
  font-weight: 400;
}
header p sup a:hover,
header p sup a:active {
  color: #fff;
}
header hr {
  margin: 50px auto 30px;
  height: 2px;
  opacity: .6;
  color: #fff;
  width: 60px;
  background: #fff;
  display: block;
}
header .cd-container p {
  font-weight: 400;
}
header .cd-container strong {
  color: #fff;
}
header .cd-container .cd-timeline-img {
  background: #222222;
}
header .cd-container .learned li {
  list-style: square;
  margin-left: 22px;
}
header .cd-container .learned li p {
  font-size: 15.5px;
}
header .cd-container .during {
  margin-top: 22px;
}
header .cd-container .cd-timeline-content {
  background: #2d2d2d;
}
header .cd-container .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  border-right-color: #2d2d2d;
}
header .cd-container:before {
  background: #2d2d2d;
}
.left {
  float: left;
}
.right {
  float: right;
}
.ui-tooltip {
  position: absolute;
  z-index: 9999;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  padding: 8px;
  overflow: hidden;
  border-radius: 0;
  background: rgba(245, 245, 245, 0.92);
  font-size: 12px;
  text-align: center;
}
.ui-tooltip p {
  font-size: 13px;
  text-align: left;
  margin: 4px 12px;
  text-indent: 0;
}
.ui-tooltip .cover {
  width: 180px;
  height: 180px;
  margin: 0 auto 6px;
  display: block;
}
.ui-tooltip h4 {
  margin-bottom: 3px;
  font-size: 13px;
}
.ui-tooltip p.date {
  margin: -4px 0 3px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: auto;
  letter-spacing: .075em;
  text-rendering: optimizeLegibility;
  font-weight: 600;
  font-size: 10px;
  color: #767676;
  font-weight: 500 !important;
  text-align: center;
}
body .ui-tooltip {
  border: none;
}
.preload {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: #222222;
}
.loading .logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading .intro {
  visibility: hidden;
}
.loading.loaded .intro {
  visibility: visible;
}
.loading.loaded .intro h1 {
  opacity: 0;
  -moz-opacity: 0;
  animation: fadeIn ease-in 1.5s forwards, slideUp ease-in 1s;
  -webkit-animation: fadeIn ease-in 1.5s forwards, slideUp ease-in 1s;
}
.loading.loaded .intro .exp {
  opacity: 0;
  -moz-opacity: 0;
  animation: fadeIn ease-in 1.2s forwards, slideUp ease-in 0.7s;
  -webkit-animation: fadeIn ease-in 1.2s forwards, slideUp ease-in 0.7s;
  animation-delay: .4s;
  -webkit-animation-delay: .4;
}
.loading.loaded .logo {
  animation: logoUp 1s;
  -webkit-animation: logoUp 1s;
}
.loading.loaded .preload {
  display: none;
}
/*Misc*/
.portfolio {
  background: #fff;
}
.portfolio a {
  border-bottom: 1px solid #bababa;
}
.portfolio a:hover {
  color: #497891;
  border-color: #999;
}
.portfolio .project-icon {
  display: block;
  margin: 0 auto;
}
.portfolio .project {
  border-bottom: 1px solid #c8c8c8;
  padding: 5% 0 7.5%;
  overflow: hidden;
}
.portfolio .project.first .project-icon {
  margin-top: 20px;
  margin-bottom: 35px;
}
.portfolio .project.second .project-icon {
  margin-top: 20px;
  margin-bottom: 35px;
}
.portfolio .project.third {
  border: none;
}
.portfolio .project.third .project-icon {
  margin-top: 45px;
  margin-bottom: 15px;
}
.portfolio video {
  position: absolute;
}
.portfolio video.vid-festival {
  margin: 319px 0 0 389px;
}
.portfolio video.pov-dj {
  margin: 78px 0 0 605px;
}
.portfolio .row {
  max-width: 1280px;
}
@media screen and (max-width: 740px) {
  .portfolio .row {
    max-width: auto;
  }
}
.portfolio h4 {
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: auto;
  letter-spacing: .075em;
  text-rendering: optimizeLegibility;
  font-weight: 600;
  color: #767676;
}
.portfolio aside {
  position: absolute;
  width: 150px;
  margin-left: 270px;
}
@media screen and (max-width: 1157px) {
  .portfolio aside {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .portfolio aside {
    position: static;
    margin-bottom: 32px;
  }
}
.portfolio aside p {
  margin: 2px 0 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  text-indent: 0;
}
.portfolio .story p,
.portfolio .story h2,
.portfolio .story h3,
.portfolio .story h4 {
  margin-left: 440px;
  margin-right: 270px;
}
@media screen and (max-width: 1157px) {
  .portfolio .story p,
  .portfolio .story h2,
  .portfolio .story h3,
  .portfolio .story h4 {
    margin-right: 0;
    margin-left: 180px;
  }
}
@media screen and (max-width: 600px) {
  .portfolio .story p,
  .portfolio .story h2,
  .portfolio .story h3,
  .portfolio .story h4 {
    margin-left: 0;
  }
}
.portfolio .story p {
  font-size: 17px;
}
.portfolio .story h2 {
  font-size: 2.2em;
  font-weight: 500;
  margin-top: -7px;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 600px) {
  .portfolio .story h2 {
    font-size: 1.6em;
    font-weight: 600;
  }
}
.portfolio .story h3 {
  font-weight: 600;
  font-size: 21px;
  margin-top: 10px;
  line-height: 1.3em;
  color: #424242;
  margin-bottom: 26px;
}
.portfolio .story figure {
  display: block;
  width: 1157px;
  margin: 55px auto 45px;
}
@media screen and (max-width: 1157px) {
  .portfolio .story figure {
    width: auto;
  }
}
@media screen and (max-width: 1157px) {
  .portfolio .story figure video {
    display: none;
  }
}
.portfolio .story figure .screen {
  display: block;
}
@media screen and (max-width: 1157px) {
  .portfolio .story figure .screen {
    position: static !important;
    display: block !important;
    margin: 0 auto !important;
  }
}
.portfolio .story figure .iphone {
  position: relative;
  z-index: 1;
  margin: -889px 0 0 0;
}
.portfolio .story figure .ipad {
  margin-left: 179px;
}
.portfolio .story figure figcaption {
  color: #767676;
  font-size: 12px;
  margin-top: 15px;
}
@media screen and (max-width: 1157px) {
  .portfolio .story figure figcaption {
    text-align: center;
  }
}
.portfolio .story figure.inline {
  text-align: center;
}
.portfolio .story figure.inline img {
  display: inline;
  margin: 0 10px 12px;
}
footer {
  color: #a0a0a0;
  padding: 70px 15px 12px;
  background: #222222;
  overflow: hidden;
  text-align: center;
  height: 400px;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
footer .col {
  width: 33%;
  position: relative;
  float: left;
  text-align: left;
}
footer .col h5 {
  color: #767676;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: auto;
  letter-spacing: .075em;
  text-rendering: optimizeLegibility;
  font-weight: 600;
  display: none;
}
footer p {
  margin: 10px 0 -8px;
  text-indent: 0;
  font-size: 14px;
}
